{% extends 'modelo/base.html'%}


    <!-- DESTAQUE / BANNER -->
    {% block destaque %}
    <div class="jumbotron text-white text-center mb-0 destaque-banner">
        <h1 class="display-4">Escolha uma opção!</h1>
    </div>
    {% endblock %}
    

    <!-- CONTEÚDO PRINCIPAL -->
    {% block conteudo %}
    <div class="container my-4 d-flex justify-content-center">
    <a class="btn btn-outline-warning mx-2"  href="{% url 'gelados' %}">Gelados</a>
    <a class="btn btn-outline-warning mx-2"  href="{% url 'sucos' %}">Suco</a>

    </div>
    {% endblock %}
