{% extends 'venda.html' %}


    <!-- DESTAQUE / BANNER -->
    {% block destaque %}
    <div class="jumbotron text-white text-center mb-0 destaque-banner">
        <h1 class="display-4">Bem-vindo ao Sistema de Sucos!</h1>
        <p class="lead">Controle de vendas, produção e relatórios em um só lugar.</p>
    </div>
    {% endblock %}
    

    <!-- CONTEÚDO PRINCIPAL -->
    {% block conteudo %}
    <div class="container my-4 d-flex justify-content-center">
    <a class="btn btn-outline-warning mx-2"  href="{% url 'sucos-producao' %}">Produção De Suco</a>
    <a class="btn btn-outline-warning mx-2"  href="{% url 'compra' %}">Compra geral</a>


    </div>
    {% endblock %}
